USE [master]
GO
/****** Object:  Database [PropertyManagementDB_Export]    Script Date: 4/28/2026 2:31:15 PM ******/
CREATE DATABASE [PropertyManagementDB_Export]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PropertyManagementDB_Export', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PropertyManagementDB_Export.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PropertyManagementDB_Export_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PropertyManagementDB_Export_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PropertyManagementDB_Export].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PropertyManagementDB_Export]
GO
/****** Object:  Table [dbo].[amenities]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amenities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[icon] [varchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[api_logs]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[api_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[api_name] [varchar](255) NOT NULL,
	[error_message] [nvarchar](max) NULL,
	[path] [varchar](255) NOT NULL,
	[status_code] [int] NOT NULL,
	[timestamp] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[is_checked] [bit] NOT NULL,
	[name] [nvarchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[phone] [varchar](255) NOT NULL,
	[owner_id] [bigint] NULL,
	[property_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contract_services]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract_services](
	[contract_id] [bigint] NOT NULL,
	[service_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contract_tenants]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract_tenants](
	[contract_id] [bigint] NOT NULL,
	[tenant_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC,
	[tenant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contracts]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contracts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bed_count] [int] NULL,
	[code] [varchar](255) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[deposit] [float] NOT NULL,
	[end_date] [date] NOT NULL,
	[is_electricity_water_included] [bit] NOT NULL,
	[note] [nvarchar](max) NULL,
	[payment_cycle] [int] NOT NULL,
	[rent_price] [float] NOT NULL,
	[start_date] [date] NOT NULL,
	[status] [varchar](255) NULL,
	[updated_at] [datetime2](7) NULL,
	[representative_id] [bigint] NULL,
	[room_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ekyc_submissions]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ekyc_submissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[back_hash] [varchar](255) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[face_hash] [varchar](255) NOT NULL,
	[front_hash] [varchar](255) NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance_request_logs]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance_request_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[note] [nvarchar](max) NULL,
	[status] [varchar](255) NOT NULL,
	[actor_id] [bigint] NULL,
	[request_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance_requests]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance_requests](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[assigned_at] [datetime2](7) NULL,
	[category] [varchar](255) NOT NULL,
	[code] [varchar](50) NULL,
	[completed_at] [datetime2](7) NULL,
	[completion_note] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[description] [nvarchar](max) NULL,
	[image_public_id] [varchar](255) NULL,
	[image_url] [nvarchar](max) NULL,
	[rejected_reason] [nvarchar](max) NULL,
	[reopened_reason] [nvarchar](max) NULL,
	[started_at] [datetime2](7) NULL,
	[status] [varchar](255) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[room_id] [bigint] NOT NULL,
	[staff_id] [bigint] NULL,
	[tenant_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[management_plans]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[management_plans](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[description] [nvarchar](1000) NULL,
	[has_advanced_reports] [bit] NOT NULL,
	[has_api_access] [bit] NOT NULL,
	[has_auto_reminders] [bit] NOT NULL,
	[has_contracts] [bit] NOT NULL,
	[has_excel_export] [bit] NOT NULL,
	[has_invoices] [bit] NOT NULL,
	[has_staff_management] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[max_posts] [int] NOT NULL,
	[max_properties] [int] NOT NULL,
	[max_rooms_per_property] [int] NOT NULL,
	[monthly_price] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[post_duration_days] [int] NOT NULL,
	[sort_order] [int] NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[owner_subscriptions]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[owner_subscriptions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[next_billing_date] [datetime2](7) NOT NULL,
	[owner_id] [bigint] NOT NULL,
	[start_date] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NULL,
	[updated_at] [datetime2](7) NULL,
	[used_property_slots] [int] NOT NULL,
	[management_plan_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [float] NOT NULL,
	[payment_date] [datetime2](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[contract_id] [bigint] NULL,
	[owner_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_packages]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_packages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[description] [nvarchar](1000) NULL,
	[duration_days] [int] NOT NULL,
	[free_boosts] [int] NOT NULL,
	[has_advanced_analytics] [bit] NOT NULL,
	[has_priority_support] [bit] NOT NULL,
	[has_search_priority] [bit] NOT NULL,
	[has_vip_badge] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [int] NOT NULL,
	[sort_order] [int] NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posting_orders]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posting_orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[paid_at] [datetime2](7) NULL,
	[remaining_uses] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[vnp_bank_code] [varchar](20) NULL,
	[vnp_pay_date] [varchar](20) NULL,
	[vnp_raw_query] [nvarchar](2000) NULL,
	[vnp_response_code] [varchar](10) NULL,
	[vnp_transaction_no] [varchar](50) NULL,
	[vnp_txn_ref] [varchar](100) NULL,
	[owner_id] [bigint] NOT NULL,
	[package_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posting_packages]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posting_packages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[description] [nvarchar](1000) NULL,
	[free_boosts] [int] NOT NULL,
	[has_search_priority] [bit] NOT NULL,
	[has_vip_badge] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_recommended] [bit] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [int] NOT NULL,
	[usage_limit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posting_usages]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posting_usages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[used_at] [datetime2](7) NULL,
	[order_id] [bigint] NOT NULL,
	[property_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[boost_expired_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[description] [nvarchar](max) NULL,
	[paused_at] [datetime2](7) NULL,
	[post_expired_at] [datetime2](7) NULL,
	[rejection_reason] [nvarchar](500) NULL,
	[slug] [varchar](255) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[view_count] [int] NOT NULL,
	[property_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[properties]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[properties](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[acreage] [float] NOT NULL,
	[address_number] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[geocode_status] [varchar](255) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[management_locked_at] [datetime2](7) NULL,
	[name] [nvarchar](255) NOT NULL,
	[normalized_address] [nvarchar](500) NULL,
	[number_of_rooms] [int] NOT NULL,
	[original_address] [nvarchar](500) NULL,
	[price] [int] NOT NULL,
	[status] [varchar](255) NULL,
	[updated_at] [datetime2](7) NULL,
	[category_id] [bigint] NULL,
	[owner_id] [bigint] NULL,
	[ward_code] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[property_amenity]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[property_amenity](
	[property_id] [bigint] NOT NULL,
	[amenity_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[property_id] ASC,
	[amenity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[property_images]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[property_images](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[image_url] [varchar](255) NOT NULL,
	[is_primary] [bit] NULL,
	[property_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[property_posts]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[property_posts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[auto_renew] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[expiry_date] [datetime2](7) NOT NULL,
	[last_renewal_date] [datetime2](7) NULL,
	[owner_id] [bigint] NOT NULL,
	[property_id] [bigint] NOT NULL,
	[start_date] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NULL,
	[total_contacts] [bigint] NOT NULL,
	[total_views] [bigint] NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[used_boosts] [int] NOT NULL,
	[post_package_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[property_slots]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[property_slots](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[activated_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[deactivated_at] [datetime2](7) NULL,
	[deactivation_reason] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[owner_id] [bigint] NOT NULL,
	[property_id] [bigint] NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[property_surrounding]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[property_surrounding](
	[property_id] [bigint] NOT NULL,
	[surrounding_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[property_id] ASC,
	[surrounding_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[property_target]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[property_target](
	[property_id] [bigint] NOT NULL,
	[target_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[property_id] ASC,
	[target_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provinces]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provinces](
	[code] [varchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_services]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_services](
	[room_id] [bigint] NOT NULL,
	[service_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area] [float] NULL,
	[bed_count] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[deposit] [float] NULL,
	[description] [nvarchar](max) NULL,
	[is_electricity_water_included] [bit] NULL,
	[max_occupancy] [int] NULL,
	[name] [nvarchar](255) NOT NULL,
	[payment_cycle] [int] NULL,
	[price] [float] NOT NULL,
	[status] [varchar](255) NULL,
	[property_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_items]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [float] NOT NULL,
	[type] [varchar](255) NOT NULL,
	[unit] [nvarchar](50) NULL,
	[property_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subscriptions]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subscriptions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[expired_at] [datetime2](7) NOT NULL,
	[management_plan_id] [bigint] NULL,
	[post_package_id] [bigint] NULL,
	[started_at] [datetime2](7) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[type] [varchar](255) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[surroundings]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[surroundings](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[icon] [varchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[target_tenants]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[target_tenants](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[icon] [varchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tenants]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tenants](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[avatar] [varchar](500) NULL,
	[birthday] [date] NULL,
	[career] [nvarchar](255) NULL,
	[citizen_id] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[email] [varchar](255) NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[gender] [varchar](255) NULL,
	[issue_date] [date] NULL,
	[permanent_address] [nvarchar](500) NULL,
	[phone] [varchar](20) NOT NULL,
	[place_of_issue] [nvarchar](255) NULL,
	[updated_at] [datetime2](7) NULL,
	[owner_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[upload_file]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[upload_file](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[file_name] [varchar](255) NULL,
	[hash] [varchar](255) NULL,
	[upload_time] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_wallets]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_wallets](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[auto_recharge_amount] [numeric](15, 2) NULL,
	[auto_recharge_enabled] [bit] NULL,
	[auto_recharge_threshold] [numeric](15, 2) NULL,
	[balance] [numeric](15, 2) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[last_transaction_at] [datetime2](7) NULL,
	[total_deposited] [numeric](15, 2) NOT NULL,
	[total_spent] [numeric](15, 2) NOT NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](500) NULL,
	[card_id] [varchar](255) NULL,
	[create_at] [datetime2](7) NULL,
	[dob] [varchar](255) NULL,
	[is_ekyc_verified] [bit] NULL,
	[ekyc_verified_at] [datetime2](7) NULL,
	[email] [varchar](255) NULL,
	[full_name] [nvarchar](255) NULL,
	[gender] [varchar](255) NULL,
	[hometown] [nvarchar](500) NULL,
	[is_active] [bit] NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](255) NULL,
	[username] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallet_transactions]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallet_transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [numeric](15, 2) NOT NULL,
	[balance_after] [numeric](15, 2) NOT NULL,
	[completed_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[description] [nvarchar](500) NULL,
	[reference_id] [nvarchar](100) NULL,
	[remaining_balance] [numeric](15, 2) NULL,
	[status] [varchar](20) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[vnpay_bank_code] [nvarchar](20) NULL,
	[vnpay_pay_date] [nvarchar](20) NULL,
	[vnpay_raw_query] [ntext] NULL,
	[vnpay_response_code] [nvarchar](20) NULL,
	[vnpay_transaction_no] [nvarchar](50) NULL,
	[vnpay_txn_ref] [nvarchar](100) NULL,
	[wallet_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wards]    Script Date: 4/28/2026 2:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wards](
	[code] [varchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[province_code] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[amenities] ON 

INSERT [dbo].[amenities] ([id], [icon], [name]) VALUES (1, N'fa-solid fa-wifi', N'Wifi')
INSERT [dbo].[amenities] ([id], [icon], [name]) VALUES (2, N'fa-solid fa-toilet', N'Vệ sinh trong')
INSERT [dbo].[amenities] ([id], [icon], [name]) VALUES (3, N'fa-solid fa-shower', N'Phòng tắm')
SET IDENTITY_INSERT [dbo].[amenities] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name]) VALUES (3, N'Căn hộ')
INSERT [dbo].[categories] ([id], [name]) VALUES (4, N'Ký túc xá')
INSERT [dbo].[categories] ([id], [name]) VALUES (2, N'Nhà nguyên căn')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[contact] ON 

INSERT [dbo].[contact] ([id], [is_checked], [name], [note], [phone], [owner_id], [property_id]) VALUES (1, 1, N'Hoàng Thanh Quân', N'Gia đình 3 người muốn thuê lâu dài', N'0957969595', 2, 44)
INSERT [dbo].[contact] ([id], [is_checked], [name], [note], [phone], [owner_id], [property_id]) VALUES (2, 1, N'Võ Quốc Khánh', N'Muốn tìm phòng có ban công', N'0912479048', 2, 35)
INSERT [dbo].[contact] ([id], [is_checked], [name], [note], [phone], [owner_id], [property_id]) VALUES (3, 1, N'Lê Ngọc Minh', N'Có cho nuôi thú cưng không?', N'0967282086', 2, 40)
SET IDENTITY_INSERT [dbo].[contact] OFF
GO
INSERT [dbo].[contract_services] ([contract_id], [service_id]) VALUES (1, 6)
INSERT [dbo].[contract_services] ([contract_id], [service_id]) VALUES (1, 7)
INSERT [dbo].[contract_services] ([contract_id], [service_id]) VALUES (1, 8)
GO
INSERT [dbo].[contract_tenants] ([contract_id], [tenant_id]) VALUES (1, 1)
INSERT [dbo].[contract_tenants] ([contract_id], [tenant_id]) VALUES (1, 2)
INSERT [dbo].[contract_tenants] ([contract_id], [tenant_id]) VALUES (2, 5)
GO
SET IDENTITY_INSERT [dbo].[contracts] ON 

INSERT [dbo].[contracts] ([id], [bed_count], [code], [created_at], [deposit], [end_date], [is_electricity_water_included], [note], [payment_cycle], [rent_price], [start_date], [status], [updated_at], [representative_id], [room_id]) VALUES (1, 1, N'HD-3-24625', CAST(N'2026-04-28T14:13:44.6253720' AS DateTime2), 3000000, CAST(N'2026-12-28' AS Date), 0, N'Hợp đồng tạo mẫu tự động.', 1, 3000000, CAST(N'2026-02-28' AS Date), N'ACTIVE', CAST(N'2026-04-28T14:13:44.6253720' AS DateTime2), 1, 3)
INSERT [dbo].[contracts] ([id], [bed_count], [code], [created_at], [deposit], [end_date], [is_electricity_water_included], [note], [payment_cycle], [rent_price], [start_date], [status], [updated_at], [representative_id], [room_id]) VALUES (2, 1, N'HD-6-24628', CAST(N'2026-04-28T14:13:44.6286520' AS DateTime2), 3000000, CAST(N'2026-11-28' AS Date), 0, N'Hợp đồng tạo mẫu tự động.', 1, 3000000, CAST(N'2026-03-28' AS Date), N'ACTIVE', CAST(N'2026-04-28T14:13:44.6286520' AS DateTime2), 5, 6)
INSERT [dbo].[contracts] ([id], [bed_count], [code], [created_at], [deposit], [end_date], [is_electricity_water_included], [note], [payment_cycle], [rent_price], [start_date], [status], [updated_at], [representative_id], [room_id]) VALUES (3, 1, N'HD-7-24629', CAST(N'2026-04-28T14:13:44.6296519' AS DateTime2), 3000000, CAST(N'2026-06-28' AS Date), 0, N'Hợp đồng tạo mẫu tự động.', 1, 3000000, CAST(N'2025-11-28' AS Date), N'ACTIVE', CAST(N'2026-04-28T14:13:44.6296519' AS DateTime2), 4, 7)
GO
SET IDENTITY_INSERT [dbo].[contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[management_plans] ON 

INSERT [dbo].[management_plans] ([id], [code], [created_at], [description], [has_advanced_reports], [has_api_access], [has_auto_reminders], [has_contracts], [has_excel_export], [has_invoices], [has_staff_management], [is_active], [max_posts], [max_properties], [max_rooms_per_property], [monthly_price], [name], [post_duration_days], [sort_order], [updated_at]) VALUES (1, N'FREE', CAST(N'2026-04-28T14:13:45.4112666' AS DateTime2), N'Dùng thử miễn phí cho người mới bắt đầu', 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 3, 0, N'Free', 7, 1, CAST(N'2026-04-28T14:13:45.4112666' AS DateTime2))
INSERT [dbo].[management_plans] ([id], [code], [created_at], [description], [has_advanced_reports], [has_api_access], [has_auto_reminders], [has_contracts], [has_excel_export], [has_invoices], [has_staff_management], [is_active], [max_posts], [max_properties], [max_rooms_per_property], [monthly_price], [name], [post_duration_days], [sort_order], [updated_at]) VALUES (2, N'PREMIUM', CAST(N'2026-04-28T14:13:45.4192682' AS DateTime2), N'Phù hợp cho chủ trọ vừa và nhỏ có nhiều nhà trọ', 0, 0, 0, 1, 0, 1, 0, 1, 3, 3, 15, 99000, N'Premium', 14, 2, CAST(N'2026-04-28T14:13:45.4192682' AS DateTime2))
INSERT [dbo].[management_plans] ([id], [code], [created_at], [description], [has_advanced_reports], [has_api_access], [has_auto_reminders], [has_contracts], [has_excel_export], [has_invoices], [has_staff_management], [is_active], [max_posts], [max_properties], [max_rooms_per_property], [monthly_price], [name], [post_duration_days], [sort_order], [updated_at]) VALUES (3, N'VIP', CAST(N'2026-04-28T14:13:45.4232652' AS DateTime2), N'Dành cho chủ trọ lớn với nhiều tài sản', 1, 0, 1, 1, 1, 1, 0, 1, 5, 5, 30, 199000, N'VIP', 20, 3, CAST(N'2026-04-28T14:13:45.4232652' AS DateTime2))
SET IDENTITY_INSERT [dbo].[management_plans] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([id], [amount], [payment_date], [status], [contract_id], [owner_id]) VALUES (1, 1200000, CAST(N'2026-04-04T18:34:00.0000000' AS DateTime2), N'PAID', 176, 2)
INSERT [dbo].[payments] ([id], [amount], [payment_date], [status], [contract_id], [owner_id]) VALUES (2, 900000, CAST(N'2026-04-21T14:08:00.0000000' AS DateTime2), N'PAID', 203, 2)
INSERT [dbo].[payments] ([id], [amount], [payment_date], [status], [contract_id], [owner_id]) VALUES (3, 28000000, CAST(N'2026-04-16T13:34:00.0000000' AS DateTime2), N'PAID', 18, 2)
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[post_packages] ON 

INSERT [dbo].[post_packages] ([id], [code], [created_at], [description], [duration_days], [free_boosts], [has_advanced_analytics], [has_priority_support], [has_search_priority], [has_vip_badge], [is_active], [name], [price], [sort_order], [updated_at]) VALUES (1, N'BASIC_15', CAST(N'2026-04-28T14:13:45.4362662' AS DateTime2), N'Đăng tin cho thuê nhà trọ trong 15 ngày', 15, 0, 0, 0, 0, 0, 1, N'Gói Cơ bản 15 ngày', 20000, 1, CAST(N'2026-04-28T14:13:45.4362662' AS DateTime2))
INSERT [dbo].[post_packages] ([id], [code], [created_at], [description], [duration_days], [free_boosts], [has_advanced_analytics], [has_priority_support], [has_search_priority], [has_vip_badge], [is_active], [name], [price], [sort_order], [updated_at]) VALUES (2, N'STANDARD_30', CAST(N'2026-04-28T14:13:45.4452663' AS DateTime2), N'Đăng tin cho thuê nhà trọ trong 30 ngày với 1 lần đẩy tin miễn phí', 30, 1, 0, 0, 0, 0, 1, N'Gói Tiêu chuẩn 30 ngày', 35000, 2, CAST(N'2026-04-28T14:13:45.4452663' AS DateTime2))
INSERT [dbo].[post_packages] ([id], [code], [created_at], [description], [duration_days], [free_boosts], [has_advanced_analytics], [has_priority_support], [has_search_priority], [has_vip_badge], [is_active], [name], [price], [sort_order], [updated_at]) VALUES (3, N'VIP_30', CAST(N'2026-04-28T14:13:45.4512780' AS DateTime2), N'Đăng tin VIP với huy hiệu đặc biệt và 3 lần đẩy tin miễn phí', 30, 3, 0, 0, 1, 1, 1, N'Gói VIP 30 ngày', 75000, 3, CAST(N'2026-04-28T14:13:45.4512780' AS DateTime2))
SET IDENTITY_INSERT [dbo].[post_packages] OFF
GO
SET IDENTITY_INSERT [dbo].[posting_orders] ON 

INSERT [dbo].[posting_orders] ([id], [amount], [created_at], [paid_at], [remaining_uses], [status], [vnp_bank_code], [vnp_pay_date], [vnp_raw_query], [vnp_response_code], [vnp_transaction_no], [vnp_txn_ref], [owner_id], [package_id]) VALUES (1, 29000, CAST(N'2026-04-02T09:08:00.0000000' AS DateTime2), CAST(N'2026-04-02T09:08:00.0000000' AS DateTime2), 7, N'PAID', N'NCB', NULL, NULL, N'00', N'1777360513303', N'620f6979-77c2-4fb2-a68f-2281b27b89bf', 4, 1)
INSERT [dbo].[posting_orders] ([id], [amount], [created_at], [paid_at], [remaining_uses], [status], [vnp_bank_code], [vnp_pay_date], [vnp_raw_query], [vnp_response_code], [vnp_transaction_no], [vnp_txn_ref], [owner_id], [package_id]) VALUES (2, 49000, CAST(N'2026-04-26T06:06:00.0000000' AS DateTime2), CAST(N'2026-04-26T06:06:00.0000000' AS DateTime2), 14, N'PAID', N'NCB', NULL, NULL, N'00', N'1777360492230', N'e3d907f7-1bed-4074-bb79-67326db55930', 5, 2)
INSERT [dbo].[posting_orders] ([id], [amount], [created_at], [paid_at], [remaining_uses], [status], [vnp_bank_code], [vnp_pay_date], [vnp_raw_query], [vnp_response_code], [vnp_transaction_no], [vnp_txn_ref], [owner_id], [package_id]) VALUES (3, 49000, CAST(N'2026-04-23T20:32:00.0000000' AS DateTime2), CAST(N'2026-04-23T20:32:00.0000000' AS DateTime2), 14, N'PAID', N'NCB', NULL, NULL, N'00', N'1777360488428', N'64ed0436-291f-4d52-9866-bbb39b8f10b7', 5, 2)
GO
SET IDENTITY_INSERT [dbo].[posting_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[posting_packages] ON 

INSERT [dbo].[posting_packages] ([id], [code], [created_at], [description], [free_boosts], [has_search_priority], [has_vip_badge], [is_active], [is_recommended], [name], [price], [usage_limit]) VALUES (1, N'POST_NEW', CAST(N'2026-04-28T14:13:45.3798134' AS DateTime2), N'Gia hạn bài đăng thêm 7 ngày.', 0, 0, 0, 1, 0, N'Gói 7 ngày', 29000, 7)
INSERT [dbo].[posting_packages] ([id], [code], [created_at], [description], [free_boosts], [has_search_priority], [has_vip_badge], [is_active], [is_recommended], [name], [price], [usage_limit]) VALUES (2, N'POST_STANDARD', CAST(N'2026-04-28T14:13:45.3863275' AS DateTime2), N'Gia hạn bài đăng thêm 14 ngày.', 0, 0, 0, 1, 1, N'Gói 14 ngày', 49000, 14)
INSERT [dbo].[posting_packages] ([id], [code], [created_at], [description], [free_boosts], [has_search_priority], [has_vip_badge], [is_active], [is_recommended], [name], [price], [usage_limit]) VALUES (3, N'POST_PREMIUM', CAST(N'2026-04-28T14:13:45.3913219' AS DateTime2), N'Gia hạn bài đăng thêm 30 ngày.', 0, 0, 0, 1, 0, N'Gói 30 ngày', 89000, 30)
SET IDENTITY_INSERT [dbo].[posting_packages] OFF
GO
SET IDENTITY_INSERT [dbo].[posts] ON 

INSERT [dbo].[posts] ([id], [boost_expired_at], [created_at], [description], [paused_at], [post_expired_at], [rejection_reason], [slug], [status], [title], [updated_at], [view_count], [property_id]) VALUES (1, NULL, CAST(N'2026-04-28T14:13:45.4788210' AS DateTime2), N'Chi tiết về Nhà trọ 341. Diện tích: 12.2m². Giá: 2,500,000đ/tháng. Liên hệ để xem phòng và tìm hiểu thêm.', NULL, CAST(N'2026-05-05T14:13:45.4808234' AS DateTime2), NULL, N'nha-tro-3411', N'ACTIVE', N'Nhà trọ 341', CAST(N'2026-04-28T14:13:45.4788210' AS DateTime2), 0, 1)
INSERT [dbo].[posts] ([id], [boost_expired_at], [created_at], [description], [paused_at], [post_expired_at], [rejection_reason], [slug], [status], [title], [updated_at], [view_count], [property_id]) VALUES (2, NULL, CAST(N'2026-04-28T14:13:45.4895164' AS DateTime2), N'Chi tiết về Trọ Cô Ba. Diện tích: 15.0m². Giá: 3,000,000đ/tháng. Liên hệ để xem phòng và tìm hiểu thêm.', NULL, CAST(N'2026-05-05T14:13:45.4895164' AS DateTime2), NULL, N'tro-co-ba2', N'ACTIVE', N'Trọ Cô Ba', CAST(N'2026-04-28T14:13:45.4895164' AS DateTime2), 0, 2)
INSERT [dbo].[posts] ([id], [boost_expired_at], [created_at], [description], [paused_at], [post_expired_at], [rejection_reason], [slug], [status], [title], [updated_at], [view_count], [property_id]) VALUES (3, NULL, CAST(N'2026-04-28T14:13:45.4940965' AS DateTime2), N'Chi tiết về Nhà trọ Xanh. Diện tích: 20.0m². Giá: 4,500,000đ/tháng. Liên hệ để xem phòng và tìm hiểu thêm.', NULL, CAST(N'2026-05-05T14:13:45.4951019' AS DateTime2), NULL, N'nha-tro-xanh3', N'ACTIVE', N'Nhà trọ Xanh', CAST(N'2026-04-28T14:13:45.4940965' AS DateTime2), 0, 3)
SET IDENTITY_INSERT [dbo].[posts] OFF
GO
SET IDENTITY_INSERT [dbo].[properties] ON 

INSERT [dbo].[properties] ([id], [acreage], [address_number], [created_at], [geocode_status], [latitude], [longitude], [management_locked_at], [name], [normalized_address], [number_of_rooms], [original_address], [price], [status], [updated_at], [category_id], [owner_id], [ward_code]) VALUES (1, 12.2, N'341 Bùi Minh Trực', CAST(N'2026-04-06T14:13:43.8504200' AS DateTime2), N'PENDING', NULL, NULL, NULL, N'Nhà trọ 341', NULL, 2, NULL, 2500000, N'ACTIVE', CAST(N'2026-04-28T14:13:43.8504200' AS DateTime2), 1, 2, N'26863')
INSERT [dbo].[properties] ([id], [acreage], [address_number], [created_at], [geocode_status], [latitude], [longitude], [management_locked_at], [name], [normalized_address], [number_of_rooms], [original_address], [price], [status], [updated_at], [category_id], [owner_id], [ward_code]) VALUES (2, 15, N'152/12 Điện Biên Phủ', CAST(N'2026-04-10T14:13:43.8504200' AS DateTime2), N'PENDING', NULL, NULL, NULL, N'Trọ Cô Ba', NULL, 5, NULL, 3000000, N'ACTIVE', CAST(N'2026-04-28T14:13:43.8504200' AS DateTime2), 1, 2, N'00031')
INSERT [dbo].[properties] ([id], [acreage], [address_number], [created_at], [geocode_status], [latitude], [longitude], [management_locked_at], [name], [normalized_address], [number_of_rooms], [original_address], [price], [status], [updated_at], [category_id], [owner_id], [ward_code]) VALUES (3, 20, N'25 Nguyễn Xí', CAST(N'2026-04-20T14:13:43.8504200' AS DateTime2), N'PENDING', NULL, NULL, NULL, N'Nhà trọ Xanh', NULL, 3, NULL, 4500000, N'ACTIVE', CAST(N'2026-04-28T14:13:43.8504200' AS DateTime2), 1, 2, N'26863')
SET IDENTITY_INSERT [dbo].[properties] OFF
GO
INSERT [dbo].[property_amenity] ([property_id], [amenity_id]) VALUES (1, 7)
INSERT [dbo].[property_amenity] ([property_id], [amenity_id]) VALUES (1, 8)
INSERT [dbo].[property_amenity] ([property_id], [amenity_id]) VALUES (1, 10)
GO
SET IDENTITY_INSERT [dbo].[property_images] ON 

INSERT [dbo].[property_images] ([id], [image_url], [is_primary], [property_id]) VALUES (1, N'https://tromoi.com/uploads/static/phong_tro_hcm/Quan_6/59.14/1_3.png', 1, 1)
INSERT [dbo].[property_images] ([id], [image_url], [is_primary], [property_id]) VALUES (2, N'https://tromoi.com/uploads/static/phong_tro_hcm/Quan_Tan_Binh/120.12%20bui%20thi%20xuan/img_2293.jpg', 0, 1)
INSERT [dbo].[property_images] ([id], [image_url], [is_primary], [property_id]) VALUES (3, N'https://tromoi.com/uploads/static/phong-tro-ha-noi/1-Tay-Ho/pho-tu-lien-duong-au-co/pho_tu_lien1(1).jpg', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[property_images] OFF
GO
INSERT [dbo].[property_surrounding] ([property_id], [surrounding_id]) VALUES (1, 2)
INSERT [dbo].[property_surrounding] ([property_id], [surrounding_id]) VALUES (1, 4)
INSERT [dbo].[property_surrounding] ([property_id], [surrounding_id]) VALUES (1, 6)
GO
INSERT [dbo].[property_target] ([property_id], [target_id]) VALUES (1, 3)
INSERT [dbo].[property_target] ([property_id], [target_id]) VALUES (2, 1)
INSERT [dbo].[property_target] ([property_id], [target_id]) VALUES (2, 2)
GO
INSERT [dbo].[provinces] ([code], [name]) VALUES (N'48', N'Thành phố Đà Nẵng')
INSERT [dbo].[provinces] ([code], [name]) VALUES (N'01', N'Thành phố Hà Nội')
INSERT [dbo].[provinces] ([code], [name]) VALUES (N'79', N'Thành phố Hồ Chí Minh')
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name]) VALUES (1, N'ADMIN')
INSERT [dbo].[roles] ([id], [name]) VALUES (5, N'MODERATOR')
INSERT [dbo].[roles] ([id], [name]) VALUES (3, N'OWNER')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
INSERT [dbo].[room_services] ([room_id], [service_id]) VALUES (1, 1)
INSERT [dbo].[room_services] ([room_id], [service_id]) VALUES (1, 2)
INSERT [dbo].[room_services] ([room_id], [service_id]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[rooms] ON 

INSERT [dbo].[rooms] ([id], [area], [bed_count], [created_at], [deposit], [description], [is_electricity_water_included], [max_occupancy], [name], [payment_cycle], [price], [status], [property_id]) VALUES (1, 12.2, 1, CAST(N'2026-04-28T14:13:44.2471268' AS DateTime2), 2500000, N'Phòng đầy đủ ánh sáng, thoáng mát.', 0, 2, N'Phòng 1', 1, 2500000, N'AVAILABLE', 1)
INSERT [dbo].[rooms] ([id], [area], [bed_count], [created_at], [deposit], [description], [is_electricity_water_included], [max_occupancy], [name], [payment_cycle], [price], [status], [property_id]) VALUES (2, 12.2, 1, CAST(N'2026-04-28T14:13:44.2471268' AS DateTime2), 2500000, N'Phòng đầy đủ ánh sáng, thoáng mát.', 0, 2, N'Phòng 2', 1, 2500000, N'AVAILABLE', 1)
INSERT [dbo].[rooms] ([id], [area], [bed_count], [created_at], [deposit], [description], [is_electricity_water_included], [max_occupancy], [name], [payment_cycle], [price], [status], [property_id]) VALUES (3, 15, 1, CAST(N'2026-04-28T14:13:44.2506258' AS DateTime2), 3000000, N'Phòng đầy đủ ánh sáng, thoáng mát.', 0, 2, N'Phòng 1', 1, 3000000, N'RENTED', 2)
GO
SET IDENTITY_INSERT [dbo].[rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[service_items] ON 

INSERT [dbo].[service_items] ([id], [created_at], [name], [price], [type], [unit], [property_id]) VALUES (1, CAST(N'2026-04-28T14:13:44.1264132' AS DateTime2), N'Tiền điện', 3894, N'METERED', N'Kwh', 1)
INSERT [dbo].[service_items] ([id], [created_at], [name], [price], [type], [unit], [property_id]) VALUES (2, CAST(N'2026-04-28T14:13:44.1264132' AS DateTime2), N'Tiền nước', 15700, N'METERED', N'Khối', 1)
INSERT [dbo].[service_items] ([id], [created_at], [name], [price], [type], [unit], [property_id]) VALUES (3, CAST(N'2026-04-28T14:13:44.1264132' AS DateTime2), N'Internet/Wifi', 62170, N'FIXED', N'Phòng/Tháng', 1)
GO
SET IDENTITY_INSERT [dbo].[service_items] OFF
GO
SET IDENTITY_INSERT [dbo].[subscriptions] ON 

INSERT [dbo].[subscriptions] ([id], [created_at], [expired_at], [management_plan_id], [post_package_id], [started_at], [status], [type], [updated_at], [user_id]) VALUES (1, CAST(N'2026-04-28T14:13:45.7423299' AS DateTime2), CAST(N'2026-05-28T14:13:45.7423299' AS DateTime2), 4, NULL, CAST(N'2026-04-28T14:13:45.7423299' AS DateTime2), N'ACTIVE', N'MANAGEMENT', CAST(N'2026-04-28T14:13:45.7423299' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[subscriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[surroundings] ON 

INSERT [dbo].[surroundings] ([id], [icon], [name]) VALUES (1, N'fa-solid fa-shop', N'Chợ')
INSERT [dbo].[surroundings] ([id], [icon], [name]) VALUES (2, N'fa-solid fa-cart-shopping', N'Siêu thị')
INSERT [dbo].[surroundings] ([id], [icon], [name]) VALUES (3, N'fa-solid fa-hospital', N'Bệnh viện')
SET IDENTITY_INSERT [dbo].[surroundings] OFF
GO
SET IDENTITY_INSERT [dbo].[target_tenants] ON 

INSERT [dbo].[target_tenants] ([id], [icon], [name]) VALUES (1, N'fa-solid fa-user-graduate', N'Sinh viên')
INSERT [dbo].[target_tenants] ([id], [icon], [name]) VALUES (2, N'fa-solid fa-user-tie', N'Người đi làm')
INSERT [dbo].[target_tenants] ([id], [icon], [name]) VALUES (3, N'fa-solid fa-house-user', N'Gia đình')
SET IDENTITY_INSERT [dbo].[target_tenants] OFF
GO
SET IDENTITY_INSERT [dbo].[tenants] ON 

INSERT [dbo].[tenants] ([id], [avatar], [birthday], [career], [citizen_id], [created_at], [email], [full_name], [gender], [issue_date], [permanent_address], [phone], [place_of_issue], [updated_at], [owner_id]) VALUES (1, N'/images/avatars/tenant1.jpg', CAST(N'2001-08-15' AS Date), N'Sinh viên', N'079201001234', CAST(N'2026-04-28T14:13:44.5378085' AS DateTime2), N'nva@gmail.com', N'Nguyễn Văn An', N'MALE', CAST(N'2021-05-20' AS Date), N'123 Lê Lợi, Phường 1, TP Vũng Tàu', N'0901234567', N'Cục CS QLHC về TTXH', CAST(N'2026-04-28T14:13:44.5378085' AS DateTime2), 2)
INSERT [dbo].[tenants] ([id], [avatar], [birthday], [career], [citizen_id], [created_at], [email], [full_name], [gender], [issue_date], [permanent_address], [phone], [place_of_issue], [updated_at], [owner_id]) VALUES (2, N'/images/avatars/tenant2.jpg', CAST(N'1998-12-10' AS Date), N'Nhân viên văn phòng', N'079202005678', CAST(N'2026-04-28T14:13:44.5468560' AS DateTime2), N'ttbich@company.com', N'Trần Thị Bích', N'FEMALE', CAST(N'2022-01-15' AS Date), N'45 Nguyễn Huệ, Quận 1, TP HCM', N'0912345678', N'Cục CS QLHC về TTXH', CAST(N'2026-04-28T14:13:44.5468560' AS DateTime2), 2)
INSERT [dbo].[tenants] ([id], [avatar], [birthday], [career], [citizen_id], [created_at], [email], [full_name], [gender], [issue_date], [permanent_address], [phone], [place_of_issue], [updated_at], [owner_id]) VALUES (3, N'/images/avatars/tenant3.jpg', CAST(N'1995-03-22' AS Date), N'Freelancer IT', N'001095009999', CAST(N'2026-04-28T14:13:44.5510771' AS DateTime2), N'nam.le@freelance.net', N'Lê Hoàng Nam', N'MALE', CAST(N'2020-10-10' AS Date), N'Thôn 3, Xã Thạch Hòa, Thạch Thất, Hà Nội', N'0987654321', N'Công an TP Hà Nội', CAST(N'2026-04-28T14:13:44.5510771' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[tenants] OFF
GO
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (2, 3)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[user_wallets] ON 

INSERT [dbo].[user_wallets] ([id], [auto_recharge_amount], [auto_recharge_enabled], [auto_recharge_threshold], [balance], [created_at], [last_transaction_at], [total_deposited], [total_spent], [user_id]) VALUES (1, NULL, 0, NULL, CAST(2000000.00 AS Numeric(15, 2)), CAST(N'2026-04-28T14:13:45.7263606' AS DateTime2), NULL, CAST(2000000.00 AS Numeric(15, 2)), CAST(0.00 AS Numeric(15, 2)), 2)
SET IDENTITY_INSERT [dbo].[user_wallets] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [address], [card_id], [create_at], [dob], [is_ekyc_verified], [ekyc_verified_at], [email], [full_name], [gender], [hometown], [is_active], [password], [phone], [username]) VALUES (1, NULL, NULL, CAST(N'2026-04-28T14:13:43.6671440' AS DateTime2), NULL, 1, NULL, NULL, N'system admin', NULL, NULL, 1, N'123', NULL, N'admin')
INSERT [dbo].[users] ([id], [address], [card_id], [create_at], [dob], [is_ekyc_verified], [ekyc_verified_at], [email], [full_name], [gender], [hometown], [is_active], [password], [phone], [username]) VALUES (2, NULL, NULL, CAST(N'2026-04-28T14:13:43.6846040' AS DateTime2), NULL, 1, NULL, N'don@gmail.com', N'owner1', NULL, NULL, 1, N'123', N'0975893248', N'owner1')
INSERT [dbo].[users] ([id], [address], [card_id], [create_at], [dob], [is_ekyc_verified], [ekyc_verified_at], [email], [full_name], [gender], [hometown], [is_active], [password], [phone], [username]) VALUES (3, NULL, NULL, CAST(N'2026-04-28T14:13:43.6906097' AS DateTime2), NULL, 1, NULL, N'kiet@gmail.com', N'owner2', NULL, NULL, 1, N'123', N'0909090909', N'owner2')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
INSERT [dbo].[wards] ([code], [name], [province_code]) VALUES (N'00007', N'Phường Hàng Bạc', N'01')
INSERT [dbo].[wards] ([code], [name], [province_code]) VALUES (N'00031', N'Phường Tràng Tiền', N'01')
INSERT [dbo].[wards] ([code], [name], [province_code]) VALUES (N'00166', N'Phường Dịch Vọng', N'01')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKt8o6pivur7nn124jehx7cygw5]    Script Date: 4/28/2026 2:31:16 PM ******/
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [UKt8o6pivur7nn124jehx7cygw5] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKgjockl4m5jmc2vgr09onw7m4v]    Script Date: 4/28/2026 2:31:16 PM ******/
ALTER TABLE [dbo].[contracts] ADD  CONSTRAINT [UKgjockl4m5jmc2vgr09onw7m4v] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKfv9hughcg7v93agi6kepk0d5f]    Script Date: 4/28/2026 2:31:16 PM ******/
ALTER TABLE [dbo].[management_plans] ADD  CONSTRAINT [UKfv9hughcg7v93agi6kepk0d5f] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_owner_subscriptions_owner]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_owner_subscriptions_owner] ON [dbo].[owner_subscriptions]
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_owner_subscriptions_status]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_owner_subscriptions_status] ON [dbo].[owner_subscriptions]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKnvigj7x1kcgyw52lnpo8a2pyd]    Script Date: 4/28/2026 2:31:16 PM ******/
ALTER TABLE [dbo].[post_packages] ADD  CONSTRAINT [UKnvigj7x1kcgyw52lnpo8a2pyd] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_posting_orders_owner]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_posting_orders_owner] ON [dbo].[posting_orders]
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_posting_orders_txn_ref]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_posting_orders_txn_ref] ON [dbo].[posting_orders]
(
	[vnp_txn_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK8f5qh0ssl6ti02jenvb2lgno4]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK8f5qh0ssl6ti02jenvb2lgno4] ON [dbo].[posting_orders]
(
	[vnp_txn_ref] ASC
)
WHERE ([vnp_txn_ref] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKebo1mx2je1ogugjs7u7vamyur]    Script Date: 4/28/2026 2:31:16 PM ******/
ALTER TABLE [dbo].[posting_packages] ADD  CONSTRAINT [UKebo1mx2je1ogugjs7u7vamyur] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_posting_usages_order]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_posting_usages_order] ON [dbo].[posting_usages]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_posting_usages_property]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_posting_usages_property] ON [dbo].[posting_usages]
(
	[property_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_post_property_unique]    Script Date: 4/28/2026 2:31:16 PM ******/
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [idx_post_property_unique] UNIQUE NONCLUSTERED 
(
	[property_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_post_slug_unique]    Script Date: 4/28/2026 2:31:16 PM ******/
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [idx_post_slug_unique] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_marketplace_boost_query]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_marketplace_boost_query] ON [dbo].[posts]
(
	[status] ASC,
	[post_expired_at] DESC,
	[boost_expired_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_marketplace_query]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_marketplace_query] ON [dbo].[posts]
(
	[status] ASC,
	[post_expired_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_post_expiration_job]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_post_expiration_job] ON [dbo].[posts]
(
	[post_expired_at] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_property_geo]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_property_geo] ON [dbo].[properties]
(
	[latitude] ASC,
	[longitude] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK6qh6e8a7wtya6dx8ht5yre7my]    Script Date: 4/28/2026 2:31:16 PM ******/
ALTER TABLE [dbo].[property_posts] ADD  CONSTRAINT [UK6qh6e8a7wtya6dx8ht5yre7my] UNIQUE NONCLUSTERED 
(
	[property_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_property_posts_expiry]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_property_posts_expiry] ON [dbo].[property_posts]
(
	[expiry_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_property_posts_owner]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_property_posts_owner] ON [dbo].[property_posts]
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_property_posts_property]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_property_posts_property] ON [dbo].[property_posts]
(
	[property_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_property_posts_status]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_property_posts_status] ON [dbo].[property_posts]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKik3n22dtw782sb477gtl0tovm]    Script Date: 4/28/2026 2:31:16 PM ******/
ALTER TABLE [dbo].[property_slots] ADD  CONSTRAINT [UKik3n22dtw782sb477gtl0tovm] UNIQUE NONCLUSTERED 
(
	[property_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_property_slots_active]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_property_slots_active] ON [dbo].[property_slots]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_property_slots_owner]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_property_slots_owner] ON [dbo].[property_slots]
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_property_slots_property]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_property_slots_property] ON [dbo].[property_slots]
(
	[property_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKl256wnwfdobq071mcq7rckr9y]    Script Date: 4/28/2026 2:31:16 PM ******/
ALTER TABLE [dbo].[provinces] ADD  CONSTRAINT [UKl256wnwfdobq071mcq7rckr9y] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKofx66keruapi6vyqpv6f2or37]    Script Date: 4/28/2026 2:31:16 PM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UKofx66keruapi6vyqpv6f2or37] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_subscriptions_expired_at]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_subscriptions_expired_at] ON [dbo].[subscriptions]
(
	[expired_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_subscriptions_type_status]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_subscriptions_type_status] ON [dbo].[subscriptions]
(
	[type] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_subscriptions_user]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE NONCLUSTERED INDEX [idx_subscriptions_user] ON [dbo].[subscriptions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK666gysr6iydl444sj70xedlkw]    Script Date: 4/28/2026 2:31:16 PM ******/
ALTER TABLE [dbo].[tenants] ADD  CONSTRAINT [UK666gysr6iydl444sj70xedlkw] UNIQUE NONCLUSTERED 
(
	[citizen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKblgu1m2imxhvys2sy1a0d7ut7]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKblgu1m2imxhvys2sy1a0d7ut7] ON [dbo].[user_wallets]
(
	[user_id] ASC
)
WHERE ([user_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 4/28/2026 2:31:16 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK6dotkott2kjsp8vw4d0m25fb7] ON [dbo].[users]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKdu5v5sr43g5bfnji4vb8hg5s3]    Script Date: 4/28/2026 2:31:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKdu5v5sr43g5bfnji4vb8hg5s3] ON [dbo].[users]
(
	[phone] ASC
)
WHERE ([phone] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[properties] ADD  DEFAULT ('PENDING') FOR [geocode_status]
GO
ALTER TABLE [dbo].[properties] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[contact]  WITH CHECK ADD  CONSTRAINT [FKgyltao33bb3m55ic59v7m4o4o] FOREIGN KEY([property_id])
REFERENCES [dbo].[properties] ([id])
GO
ALTER TABLE [dbo].[contact] CHECK CONSTRAINT [FKgyltao33bb3m55ic59v7m4o4o]
GO
ALTER TABLE [dbo].[contact]  WITH CHECK ADD  CONSTRAINT [FKoda9tragqopoue4qq7cyj9iyn] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[contact] CHECK CONSTRAINT [FKoda9tragqopoue4qq7cyj9iyn]
GO
ALTER TABLE [dbo].[contract_services]  WITH CHECK ADD  CONSTRAINT [FKj5amvvhuo35k4sjg6f9mvo7w7] FOREIGN KEY([contract_id])
REFERENCES [dbo].[contracts] ([id])
GO
ALTER TABLE [dbo].[contract_services] CHECK CONSTRAINT [FKj5amvvhuo35k4sjg6f9mvo7w7]
GO
ALTER TABLE [dbo].[contract_services]  WITH CHECK ADD  CONSTRAINT [FKpgyyy7p4swaq084uewf31bla] FOREIGN KEY([service_id])
REFERENCES [dbo].[service_items] ([id])
GO
ALTER TABLE [dbo].[contract_services] CHECK CONSTRAINT [FKpgyyy7p4swaq084uewf31bla]
GO
ALTER TABLE [dbo].[contract_tenants]  WITH CHECK ADD  CONSTRAINT [FK5ueb6lgjgny7c11f7d51os92v] FOREIGN KEY([tenant_id])
REFERENCES [dbo].[tenants] ([id])
GO
ALTER TABLE [dbo].[contract_tenants] CHECK CONSTRAINT [FK5ueb6lgjgny7c11f7d51os92v]
GO
ALTER TABLE [dbo].[contract_tenants]  WITH CHECK ADD  CONSTRAINT [FKdy8564lqd2ug89wqcbar2y661] FOREIGN KEY([contract_id])
REFERENCES [dbo].[contracts] ([id])
GO
ALTER TABLE [dbo].[contract_tenants] CHECK CONSTRAINT [FKdy8564lqd2ug89wqcbar2y661]
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD  CONSTRAINT [FKju1b0xobla9t8oexrb8lpi8jq] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [FKju1b0xobla9t8oexrb8lpi8jq]
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD  CONSTRAINT [FKqfubtpv291wk82ldbb7ngepji] FOREIGN KEY([representative_id])
REFERENCES [dbo].[tenants] ([id])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [FKqfubtpv291wk82ldbb7ngepji]
GO
ALTER TABLE [dbo].[ekyc_submissions]  WITH CHECK ADD  CONSTRAINT [FKgasm203eg6ep9js2fthakq16j] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ekyc_submissions] CHECK CONSTRAINT [FKgasm203eg6ep9js2fthakq16j]
GO
ALTER TABLE [dbo].[maintenance_request_logs]  WITH CHECK ADD  CONSTRAINT [FK8q2uhfcwr6q94tnn3y22rcgad] FOREIGN KEY([actor_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[maintenance_request_logs] CHECK CONSTRAINT [FK8q2uhfcwr6q94tnn3y22rcgad]
GO
ALTER TABLE [dbo].[maintenance_request_logs]  WITH CHECK ADD  CONSTRAINT [FKs8uhptgrrowqha1778vfbjfoi] FOREIGN KEY([request_id])
REFERENCES [dbo].[maintenance_requests] ([id])
GO
ALTER TABLE [dbo].[maintenance_request_logs] CHECK CONSTRAINT [FKs8uhptgrrowqha1778vfbjfoi]
GO
ALTER TABLE [dbo].[maintenance_requests]  WITH NOCHECK ADD  CONSTRAINT [FK_maintenance_requests_staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[maintenance_requests] CHECK CONSTRAINT [FK_maintenance_requests_staff]
GO
ALTER TABLE [dbo].[maintenance_requests]  WITH CHECK ADD  CONSTRAINT [FKcndie7sbh4o14jhu4yvro53jy] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[maintenance_requests] CHECK CONSTRAINT [FKcndie7sbh4o14jhu4yvro53jy]
GO
ALTER TABLE [dbo].[maintenance_requests]  WITH CHECK ADD  CONSTRAINT [FKe5ai7skcrl3u3l8347hwvryuo] FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[maintenance_requests] CHECK CONSTRAINT [FKe5ai7skcrl3u3l8347hwvryuo]
GO
ALTER TABLE [dbo].[maintenance_requests]  WITH CHECK ADD  CONSTRAINT [FKm1h380tkvba23mb1lfpb404t0] FOREIGN KEY([tenant_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[maintenance_requests] CHECK CONSTRAINT [FKm1h380tkvba23mb1lfpb404t0]
GO
ALTER TABLE [dbo].[owner_subscriptions]  WITH CHECK ADD  CONSTRAINT [FKrxrclyg09j6hsn6hwacljeym1] FOREIGN KEY([management_plan_id])
REFERENCES [dbo].[management_plans] ([id])
GO
ALTER TABLE [dbo].[owner_subscriptions] CHECK CONSTRAINT [FKrxrclyg09j6hsn6hwacljeym1]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FKff5wesdugfk1tof9eok8bp31h] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FKff5wesdugfk1tof9eok8bp31h]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FKqywegtqyijw241foqfkseq1l6] FOREIGN KEY([contract_id])
REFERENCES [dbo].[contracts] ([id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FKqywegtqyijw241foqfkseq1l6]
GO
ALTER TABLE [dbo].[posting_orders]  WITH CHECK ADD  CONSTRAINT [FKf6olsxribdniwqrcnckp3pog5] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[posting_orders] CHECK CONSTRAINT [FKf6olsxribdniwqrcnckp3pog5]
GO
ALTER TABLE [dbo].[posting_orders]  WITH CHECK ADD  CONSTRAINT [FKqrfyudefbn2vye8qaaa7gt3a] FOREIGN KEY([package_id])
REFERENCES [dbo].[posting_packages] ([id])
GO
ALTER TABLE [dbo].[posting_orders] CHECK CONSTRAINT [FKqrfyudefbn2vye8qaaa7gt3a]
GO
ALTER TABLE [dbo].[posting_usages]  WITH CHECK ADD  CONSTRAINT [FKojiekr2wwqlocwsx4akyk05xs] FOREIGN KEY([order_id])
REFERENCES [dbo].[posting_orders] ([id])
GO
ALTER TABLE [dbo].[posting_usages] CHECK CONSTRAINT [FKojiekr2wwqlocwsx4akyk05xs]
GO
ALTER TABLE [dbo].[posting_usages]  WITH CHECK ADD  CONSTRAINT [FKtlg6deqppn7ya0ldboauf4at4] FOREIGN KEY([property_id])
REFERENCES [dbo].[properties] ([id])
GO
ALTER TABLE [dbo].[posting_usages] CHECK CONSTRAINT [FKtlg6deqppn7ya0ldboauf4at4]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [FKg99l2ie3v7ph92mpv75npy2ks] FOREIGN KEY([property_id])
REFERENCES [dbo].[properties] ([id])
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [FKg99l2ie3v7ph92mpv75npy2ks]
GO
ALTER TABLE [dbo].[properties]  WITH CHECK ADD  CONSTRAINT [FK2am91onrpg0i2jg44flrxsvx8] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[properties] CHECK CONSTRAINT [FK2am91onrpg0i2jg44flrxsvx8]
GO
ALTER TABLE [dbo].[properties]  WITH CHECK ADD  CONSTRAINT [FK32k2h9s30s0ukftb8hj947ef2] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[properties] CHECK CONSTRAINT [FK32k2h9s30s0ukftb8hj947ef2]
GO
ALTER TABLE [dbo].[properties]  WITH CHECK ADD  CONSTRAINT [FKm64uimo8rucwmxlssx5gs7eup] FOREIGN KEY([ward_code])
REFERENCES [dbo].[wards] ([code])
GO
ALTER TABLE [dbo].[properties] CHECK CONSTRAINT [FKm64uimo8rucwmxlssx5gs7eup]
GO
ALTER TABLE [dbo].[property_amenity]  WITH CHECK ADD  CONSTRAINT [FK7mo1kuycjxfu829hhfnyr6o4f] FOREIGN KEY([amenity_id])
REFERENCES [dbo].[amenities] ([id])
GO
ALTER TABLE [dbo].[property_amenity] CHECK CONSTRAINT [FK7mo1kuycjxfu829hhfnyr6o4f]
GO
ALTER TABLE [dbo].[property_amenity]  WITH CHECK ADD  CONSTRAINT [FK9v7ash91bmplp0mps4884o9j6] FOREIGN KEY([property_id])
REFERENCES [dbo].[properties] ([id])
GO
ALTER TABLE [dbo].[property_amenity] CHECK CONSTRAINT [FK9v7ash91bmplp0mps4884o9j6]
GO
ALTER TABLE [dbo].[property_images]  WITH CHECK ADD  CONSTRAINT [FKemw5i1cysiorfaxfba7tgtpiu] FOREIGN KEY([property_id])
REFERENCES [dbo].[properties] ([id])
GO
ALTER TABLE [dbo].[property_images] CHECK CONSTRAINT [FKemw5i1cysiorfaxfba7tgtpiu]
GO
ALTER TABLE [dbo].[property_posts]  WITH CHECK ADD  CONSTRAINT [FKfpx6shotdl27aq8a9p56plvdb] FOREIGN KEY([post_package_id])
REFERENCES [dbo].[posting_packages] ([id])
GO
ALTER TABLE [dbo].[property_posts] CHECK CONSTRAINT [FKfpx6shotdl27aq8a9p56plvdb]
GO
ALTER TABLE [dbo].[property_surrounding]  WITH CHECK ADD  CONSTRAINT [FK3mt05e3r9isj5pa7166ne93uu] FOREIGN KEY([surrounding_id])
REFERENCES [dbo].[surroundings] ([id])
GO
ALTER TABLE [dbo].[property_surrounding] CHECK CONSTRAINT [FK3mt05e3r9isj5pa7166ne93uu]
GO
ALTER TABLE [dbo].[property_surrounding]  WITH CHECK ADD  CONSTRAINT [FKag7sh5mum5pk9d800xh1mw41k] FOREIGN KEY([property_id])
REFERENCES [dbo].[properties] ([id])
GO
ALTER TABLE [dbo].[property_surrounding] CHECK CONSTRAINT [FKag7sh5mum5pk9d800xh1mw41k]
GO
ALTER TABLE [dbo].[property_target]  WITH CHECK ADD  CONSTRAINT [FK6xhrxjgf5n6mbovnrrmdysxpr] FOREIGN KEY([property_id])
REFERENCES [dbo].[properties] ([id])
GO
ALTER TABLE [dbo].[property_target] CHECK CONSTRAINT [FK6xhrxjgf5n6mbovnrrmdysxpr]
GO
ALTER TABLE [dbo].[property_target]  WITH CHECK ADD  CONSTRAINT [FKgsyhcrat2vd3qbb9bh70iwgiw] FOREIGN KEY([target_id])
REFERENCES [dbo].[target_tenants] ([id])
GO
ALTER TABLE [dbo].[property_target] CHECK CONSTRAINT [FKgsyhcrat2vd3qbb9bh70iwgiw]
GO
ALTER TABLE [dbo].[room_services]  WITH CHECK ADD  CONSTRAINT [FKdjeo9hn6pkx478etw8hmtk0p3] FOREIGN KEY([service_id])
REFERENCES [dbo].[service_items] ([id])
GO
ALTER TABLE [dbo].[room_services] CHECK CONSTRAINT [FKdjeo9hn6pkx478etw8hmtk0p3]
GO
ALTER TABLE [dbo].[room_services]  WITH CHECK ADD  CONSTRAINT [FKewq1euu8r5i0c2f1ejfout7ty] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[room_services] CHECK CONSTRAINT [FKewq1euu8r5i0c2f1ejfout7ty]
GO
ALTER TABLE [dbo].[rooms]  WITH CHECK ADD  CONSTRAINT [FK35r032kwh410ggyqcbqrnhcut] FOREIGN KEY([property_id])
REFERENCES [dbo].[properties] ([id])
GO
ALTER TABLE [dbo].[rooms] CHECK CONSTRAINT [FK35r032kwh410ggyqcbqrnhcut]
GO
ALTER TABLE [dbo].[service_items]  WITH CHECK ADD  CONSTRAINT [FKclalwew8v18nfbqbxode4g500] FOREIGN KEY([property_id])
REFERENCES [dbo].[properties] ([id])
GO
ALTER TABLE [dbo].[service_items] CHECK CONSTRAINT [FKclalwew8v18nfbqbxode4g500]
GO
ALTER TABLE [dbo].[subscriptions]  WITH CHECK ADD  CONSTRAINT [FKhro52ohfqfbay9774bev0qinr] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[subscriptions] CHECK CONSTRAINT [FKhro52ohfqfbay9774bev0qinr]
GO
ALTER TABLE [dbo].[tenants]  WITH CHECK ADD  CONSTRAINT [FKbct1othktjofcqn6vt265w5d5] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tenants] CHECK CONSTRAINT [FKbct1othktjofcqn6vt265w5d5]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f]
GO
ALTER TABLE [dbo].[user_wallets]  WITH CHECK ADD  CONSTRAINT [FK423n8ap6gdudl8fcab7ugv3qt] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_wallets] CHECK CONSTRAINT [FK423n8ap6gdudl8fcab7ugv3qt]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [FK3af4a7tkm597w9wmb9lb97jpi] FOREIGN KEY([wallet_id])
REFERENCES [dbo].[user_wallets] ([id])
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [FK3af4a7tkm597w9wmb9lb97jpi]
GO
ALTER TABLE [dbo].[wards]  WITH CHECK ADD  CONSTRAINT [FKm20w5foy3ba7txbvrlrsjxcih] FOREIGN KEY([province_code])
REFERENCES [dbo].[provinces] ([code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[wards] CHECK CONSTRAINT [FKm20w5foy3ba7txbvrlrsjxcih]
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD CHECK  (([status]='TERMINATED' OR [status]='EXPIRED' OR [status]='EXPIRING_SOON' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[maintenance_request_logs]  WITH CHECK ADD CHECK  (([status]='REOPENED' OR [status]='REJECTED' OR [status]='CONFIRMED' OR [status]='COMPLETED' OR [status]='IN_PROGRESS' OR [status]='ASSIGNED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[maintenance_requests]  WITH CHECK ADD  CONSTRAINT [CK_maintenance_requests_category] CHECK  (([category]='OTHER' OR [category]='FURNITURE' OR [category]='AIRCON' OR [category]='PLUMBING' OR [category]='ELECTRICAL'))
GO
ALTER TABLE [dbo].[maintenance_requests] CHECK CONSTRAINT [CK_maintenance_requests_category]
GO
ALTER TABLE [dbo].[maintenance_requests]  WITH CHECK ADD  CONSTRAINT [CK_maintenance_requests_status] CHECK  (([status]='REOPENED' OR [status]='REJECTED' OR [status]='CONFIRMED' OR [status]='COMPLETED' OR [status]='IN_PROGRESS' OR [status]='ASSIGNED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[maintenance_requests] CHECK CONSTRAINT [CK_maintenance_requests_status]
GO
ALTER TABLE [dbo].[owner_subscriptions]  WITH CHECK ADD CHECK  (([status]='SUSPENDED' OR [status]='EXPIRED' OR [status]='CANCELLED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([status]='CANCELED' OR [status]='FAILED' OR [status]='PAID' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[posting_orders]  WITH CHECK ADD CHECK  (([status]='CANCELED' OR [status]='FAILED' OR [status]='PAID' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD CHECK  (([status]='HIDDEN' OR [status]='EXPIRED' OR [status]='ACTIVE' OR [status]='DRAFT' OR [status]='PENDING_REVISION' OR [status]='REJECTED' OR [status]='PENDING_APPROVAL'))
GO
ALTER TABLE [dbo].[properties]  WITH CHECK ADD CHECK  (([geocode_status]='MANUAL_OVERRIDE' OR [geocode_status]='FAIL' OR [geocode_status]='SUCCESS' OR [geocode_status]='PENDING'))
GO
ALTER TABLE [dbo].[properties]  WITH CHECK ADD CHECK  (([status]='SUSPENDED' OR [status]='ADMIN_LOCKED' OR [status]='PLAN_LOCKED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[property_posts]  WITH CHECK ADD CHECK  (([status]='HIDDEN' OR [status]='EXPIRED' OR [status]='ACTIVE' OR [status]='DRAFT' OR [status]='PENDING_REVISION' OR [status]='REJECTED' OR [status]='PENDING_APPROVAL'))
GO
ALTER TABLE [dbo].[rooms]  WITH CHECK ADD CHECK  (([status]='MAINTENANCE' OR [status]='RENTED' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[service_items]  WITH CHECK ADD CHECK  (([type]='METERED' OR [type]='FIXED'))
GO
ALTER TABLE [dbo].[subscriptions]  WITH CHECK ADD CHECK  (([status]='SUSPENDED' OR [status]='EXPIRED' OR [status]='CANCELLED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[subscriptions]  WITH CHECK ADD CHECK  (([type]='POST' OR [type]='MANAGEMENT'))
GO
ALTER TABLE [dbo].[tenants]  WITH CHECK ADD CHECK  (([gender]='OTHER' OR [gender]='FEMALE' OR [gender]='MALE'))
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='FAILED' OR [status]='COMPLETED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD CHECK  (([type]='ADMIN_ADJUSTMENT' OR [type]='REFUND' OR [type]='EXTENSION' OR [type]='PURCHASE' OR [type]='DEPOSIT'))
GO
USE [master]
GO
