<header th:fragment="header-main" class="bg-white shadow-md py-4 px-6 flex items-center justify-between sticky top-0 z-50">

    <a th:href="@{/}" class="block">
        <div class="flex items-center space-x-2 cursor-pointer">
            <i class="fa-brands fa-aws text-2xl text-blue-700"></i>
            <span class="font-bold text-blue-700 text-2xl uppercase">
            Trọ Mới
        </span>
        </div>
    </a>

    <nav class="hidden md:flex space-x-6">
        <a th:each="cat : ${categories}"
           th:href="@{/public/category/{id}(id=${cat.id})}"
           class="text-gray-700 font-medium hover:text-blue-600 transition duration-300 pb-1 border-b-2 border-transparent hover:border-blue-600"
           th:text="${cat.name}">
            Nhà trọ
        </a>
        <a href="/video-review" class="text-gray-700 font-medium hover:text-blue-600">Video Review</a>
    </nav>

    <div class="flex items-center gap-3">

        <!-- Đăng nhập -->
        <a href="/login"
           class="flex items-center gap-2 px-4 py-2 rounded-full border border-gray-300
              text-gray-700 text-sm font-medium
              hover:bg-gray-100 hover:border-gray-400 transition">

            <i class="fa-solid fa-right-to-bracket text-gray-600"></i>
            <span>Đăng nhập</span>
        </a>

        <!-- Đăng ký -->
        <a href="/register"
           class="flex items-center gap-2 px-4 py-2 rounded-full border border-gray-300
              text-gray-700 text-sm font-medium
              hover:bg-gray-100 hover:border-gray-400 transition">

            <i class="fa-solid fa-user-plus text-gray-600"></i>
            <span>Đăng ký</span>
        </a>

        <!-- Đăng nhà trọ -->
        <a href="/login/owner"
           class="ml-2 bg-blue-600 text-white px-5 py-2 rounded-full
              text-sm font-semibold
              hover:bg-blue-700 transition shadow-sm">

            Đăng nhà trọ
        </a>

    </div>


</header>