<header th:fragment="header" class="bg-white border-b border-gray-200 px-6 py-3 flex  justify-end sticky top-0 z-40 shadow-sm">


    <div class="flex items-center gap-3">
        <a href="#" class="flex items-center gap-2 bg-tm-orange hover:opacity-90 text-white px-4 py-1.5 rounded-full text-sm font-bold shadow-sm transition">
            <i class="fa-solid fa-circle-dollar-to-slot"></i>
            <span>Nạp tiền</span>
        </a>

        <a href="#" class="flex items-center gap-2 bg-blue-50 text-tm-blue border border-blue-200 px-4 py-1.5 rounded-full text-sm font-bold hover:bg-blue-100 transition">
            <i class="fa-solid fa-rectangle-ad"></i>
            <span>Quảng cáo</span>
        </a>

        <div class="h-8 w-px bg-gray-200 mx-2"></div>

        <button class="flex items-center gap-2 group">
            <div class="w-9 h-9 bg-tm-blue text-white rounded-full flex items-center justify-center font-bold text-sm border-2 border-blue-100">
                T
            </div>
            <i class="fa-solid fa-chevron-down text-[10px] text-gray-400 group-hover:text-tm-blue transition"></i>
        </button>
    </div>
</header>