<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Property Management System</title>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/a37ac37445.js" crossorigin="anonymous"></script>

    <!-- Tailwind -->
<!--    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>-->
    <script src="https://cdn.tailwindcss.com"></script>


</head>
<body>

<div th:replace="~{layout/header :: header-main}"></div>

<main class="container mx-auto px-4 py-6">
    <div th:replace="~{${content}}"></div>
</main>

<div th:replace="~{layout/footer :: footer-main}"></div>

</body>
</html>