<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Property Form</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body class="bg-gray-50 pb-20">

<div class="bg-white shadow-sm py-4 mb-10">
    <div class="max-w-4xl mx-auto px-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-gray-800">Thêm bài đăng mới</h1>
        <a th:href="@{/owner/properties}" class="text-gray-500 hover:text-gray-700"> Quay lại</a>
    </div>
</div>

<main class="max-w-4xl mx-auto px-4">
    <form th:action="@{/owner/property/create}" method="post" class="flex flex-cols">
        <div>
            <label for="name">Nhập tên: </label>
            <input type="text" id="name" name="name">
        </div>

        <div>
            <label for="title">Nhập title: </label>
            <input type="text" id="title" name="title">
        </div>

        <div>
            <label for="addressNumber">Nhập địa chỉ: </label>
            <input type="text" id="addressNumber" name="addressNumber">
        </div>

        <div>
            <label for="province_code">Tỉnh / Thành phố</label>
            <select id="province_code" name="province_code">
                <option value="">--Chọn Tỉnh --</option>
                <option th:each="p : ${provinces}" th:value="${p.getCode()}" th:text="${p.getName()}"></option>
            </select>
        </div>

        <div>
            <label for="ward_code">Phường / Xã</label>
            <select id="ward_code" name="ward_code" th:field="*{ward.code}" >
                <option value="">-- Chọn Phường --</option>
            </select>
        </div>

        <div>
            <label for="description">Nhập mô tả: </label>
            <input type="text" id="description" name="description">
        </div>

        <div>
            <label for="categoryId" >Phường / Xã</label>
            <select id="categoryId" name="categoryId" >
                <option value="">-- Chọn Phường --</option>
                <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.getName()}"></option>
            </select>
        </div>

        <div>
            <label for="latitude">Nhập vĩ độ: </label>
            <input type="text" id="latitude" name="latitude">
        </div>

        <div>
            <label for="longitude">Nhập kinh độ: </label>
            <input type="text" id="longitude" name="longitude">
        </div>



    </form>

</main>

</body>
</html>