<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Property Form</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-50 pb-20">
    <div th:fragment="content">
      <div class="bg-white shadow-sm py-4 mb-10">
        <div class="max-w-4xl mx-auto px-4 flex justify-between items-center">
          <h1 class="text-2xl font-bold text-gray-800">Thêm bài đăng mới</h1>
          <a
            th:href="@{/owner/properties}"
            class="text-gray-500 hover:text-gray-700"
          >
            Quay lại</a
          >
        </div>
      </div>

      <main class="max-w-4xl mx-auto px-4">
        <form
          th:action="@{${actionUrl}}"
          th:object="${property}"
          method="post"
          class="flex flex-col gap-4"
        >
          <div>
            <label for="name">Nhập tên: </label>
            <input
              type="text"
              id="name"
              th:field="*{name}"
              class="border p-2 w-full"
            />
          </div>

          <div>
            <label for="title">Nhập title: </label>
            <input
              type="text"
              id="title"
              th:field="*{title}"
              class="border p-2 w-full"
            />
          </div>

          <div>
            <label for="price">Nhập giá: </label>
            <input
              type="number"
              id="price"
              th:field="*{price}"
              class="border p-2 w-full"
            />
          </div>

          <div>
            <label for="numberOfRooms">Số phòng: </label>
            <input
              type="number"
              id="numberOfRooms"
              th:field="*{numberOfRooms}"
              class="border p-2 w-full"
            />
          </div>

          <div>
            <label for="addressNumber">Nhập địa chỉ: </label>
            <input
              type="text"
              id="addressNumber"
              th:field="*{addressNumber}"
              class="border p-2 w-full"
            />
          </div>

          <div>
            <label for="province_code">Tỉnh / Thành phố</label>
            <select id="province_code" class="border p-2 w-full">
              <option value="">--Chọn Tỉnh --</option>
              <option
                th:each="p : ${provinces}"
                th:value="${p.getCode()}"
                th:text="${p.getName()}"
              ></option>
            </select>
          </div>

          <div>
            <label for="ward_code">Phường / Xã</label>
            <select
              id="ward_code"
              th:field="*{wardCode}"
              class="border p-2 w-full"
            >
              <option value="">-- Chọn Phường --</option>
              <!-- Logic JS will fill this, or if editing, we might need to pre-fill. 
                      For now, just binding. -->
            </select>
          </div>

          <div>
            <label for="description">Nhập mô tả: </label>
            <textarea
              id="description"
              th:field="*{description}"
              class="border p-2 w-full"
            ></textarea>
          </div>

          <div>
            <label for="categoryId">Loại hình</label>
            <select
              id="categoryId"
              th:field="*{categoryId}"
              class="border p-2 w-full"
            >
              <option value="">-- Chọn Loại --</option>
              <option
                th:each="c : ${categories}"
                th:value="${c.id}"
                th:text="${c.getName()}"
              ></option>
            </select>
          </div>

          <div>
            <label for="latitude">Nhập vĩ độ: </label>
            <input type="text" id="latitude" name="latitude" />
          </div>

          <div>
            <label for="longitude">Nhập kinh độ: </label>
            <input type="text" id="longitude" name="longitude" />
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
